{% extends "base.html" %}
{% block title %}Customize Tests{{ super() }}{% endblock %}
{% block body %}
<h1>Create custom tests on your fork</h1>
{% if GitUser is not none %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="grid-x">
            <div class="callout alert">
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endwith %}
<form method="post" name="addTestFork" id="addTestFork" action="{{ url_for('.index') }}">
    {{ addTestFork.csrf_token }}
    {% if addTestFork.errors %}
        <div class="grid-x">
            <div class="callout alert">
                {% for field, error in addTestFork.errors.items() %}
                    {% for e in error %}
                        {{ e }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="grid-x">
        <div class="medium-12 columns">
            {{ macros.render_field(addTestFork.commit_hash) }}
        </div>
        {% if commit_options %}
            <div class="medium-6 columns">
              {{ macros.render_field(addTestFork.commit_select) }}
            </div>
        {% else %}
            <div class="medium-12 columns">    
                There are no latest commits in your repo last month.
            </div>
        {% endif %}
        <div class="medium-6 columns">
            {{ macros.render_field(addTestFork.platform) }}
        </div>
        <div class="medium-12 columns">
                <label for="regression_test">Choose Regression Tests</label>
                {% for category in categories %}
                <h6 class="category-header" data-category="{{ category.id }}">{{ category.name }} </h6>
                <div class="hide" data-category="{{ category.id }}">
                <input class="selector" type="checkbox" name="{{ category.name }}" /> Select All<br/>
                <table class="striped sortable">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Regression ID</th>
                            <th>Sample</th>
                            <th>Command</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in category.regression_tests %}
                            <tr name="{{ category.name }}-tr">
                                <td><input type="checkbox" name="regression_test" value="{{test.id}}" /></td>
                                <td><a href="{{ url_for('regression.test_view', regression_id=test.id) }}">{{ test.id }}</a></td>
                                <td><a href="{{ url_for('sample.sample_by_id', sample_id=test.sample.id) }}">{{ test.sample.sha[:10] }}...</a></td>
                                <td>{{ test.command }}</td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
                </div>
                {% endfor %}
        </div>
        <div class="medium-12 columns">
            {{ macros.render_field(addTestFork.add) }}
        </div>
</form>
<div class="grid-x">
    <div class="column medium-8">
        <h2>Your tests</h2>
        <p>Below you can see the overview of the last {{ tests|length }} test runs that were performed:</p>
        {% include "test/list_table.html" %}
    </div>
</div>
{% else %}
<a href="{{ url_for('auth.manage')}}">Link</a> your github to run tests.
{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function toggle(source) {
            target = source.target;
            var name = target.name + "-tr";
            checkboxes = document.getElementsByName(name);
            for(var i=0; i < checkboxes.length; i++)
            {
                checkbox = checkboxes[i].querySelectorAll('input')[0];
                checkbox.checked = target.checked;
            }
        }
        $(document).ready(function(){
            $('.selector').on('click', toggle);
            $("input[name='commit_select']").change(function(){
                $("#commit_hash").val(this.value)
            });
            $('.category-header').on('click', function(){
                var id = $(this).data('category');
                $('div[data-category="'+id+'"]').toggleClass('hide');
            });
        });
    </script>
{% endblock %}