{% extends "base.html" %}

{% block title %}Category Edit {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h5>Category Edit</h5>
            <p>Please edit the category</p>
        </div>
    </div>
    <form method="post" name="categoryForm" id="categoryForm" action="{{ url_for('.category_edit',category_id=category_id) }}">
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="grid-x">
                    <div class="callout alert">
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="grid-x">
            <div class="medium-12 columns">
                {{ macros.render_field(form.category_name) }}
            </div>
           <div class="medium-12 columns">
                {{ macros.render_field(form.category_description) }}
            </div>
            <div class="medium-12 columns">
                {{ macros.render_field(form.submit) }}
            </div>
        </div>
    </form>
{% endblock %}
