{% extends "base.html" %}

{% block title %}Test Delete {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h5>Test Delete</h5>
            <p>Are you sure you want to delete this? This change is irreversible!</p>
        </div>
    </div>
    <form method="post" name="confirmationForm" id="confirmationForm" action="{{ url_for('.test_delete', regression_id=regression_id) }}">
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="grid-x">
                    <div class="callout alert">
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="grid-x">
           <div class="medium-12 columns" style="display:none;">
                {{ macros.render_field(form.confirm) }}
            </div>
            <div class="medium-12 columns">
                {{ macros.render_field(form.submit) }}
            </div>
        </div>
    </form>
{% endblock %}
