{% extends "base.html" %}

{% block title %}Regression test {{ test.id }} {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="column medium-9">
            <h1>Regression test  {{ test.id }}</h1>
            <p>Sample: <a href="{{ url_for('sample.sample_by_id', sample_id=test.sample_id) }}">Sample #{{ test.sample.id }}</a></p>
            <p>Command: {{ test.command }}</p>
            <p>Input type: {{ test.input_type.description }}</p>
            <p>Output type: {{ test.output_type.description }}</p>
            <p>Output files:</p>
            <ul>
                {% for output_file in test.output_files %}
                <li><a target="_blank" href="{{ url_for('regression.test_result_file', regression_test_output_id=output_file.id) }}">{{ output_file.filename_correct }}</a></li>
                {% endfor %}            
            </ul>            
        </div>
        <div class="column medium-3">
            {% if user is not none and user.has_role('contributor') %}
            <h5>Regression tests</h5>
            <ul class="no-bullet">
                <li>Coming soon</li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
