/*.is-accordion-submenu-parent a*/ [data-accordion-menu] li a {
    background: #4d5158;
}

[data-accordion-menu] .is-accordion-submenu a {
    background: #35383d;
}

.sublevel-1 {
    text-indent: 1rem;
}

.sublevel-2 {
    text-indent: 2rem;
}

[data-accordion-menu] a {
    color: #fff;
    box-shadow: inset 0 -1px #41444a;
}

[data-accordion-menu] a::after {
    border-color: #fff transparent transparent;
}

.menu > li:not(.menu-text) > a {
    padding: 1.2rem 1rem;
}

.menu .active > a {
    color: #fefefe;
    background: #2199e8;
}

/* Fixes to foundation framework */
#application-menu {
    box-shadow: 0 0 10px hsla(0, 0%, 4%, 0.5);
    min-height: 100%;
}

.off-canvas-content {
    box-shadow: none;
}

@media screen and (min-width: 64em) {
    .position-left.reveal-for-large ~ .off-canvas-content {
        margin-left: 260px; /* Needed to respect the border shadow*/
    }
}

label.success {
    background-color: #e1faea;
    padding: 0 5px;
    border-radius: 5px;
}
label.warning {
    background-color: #fff3d9;
    padding: 0 5px;
    border-radius: 5px;
}
label.alert {
    background-color: #fce6e2;
    padding: 0 5px;
    border-radius: 5px;
}

.user-actions i, #pageTable th i, #serviceTable i, #rulesTable i, #deployments i, #profile_configuration i {
    display: inline-block;
    cursor: pointer;
}

#pageTable th i {
    color: red;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

table.stack tfoot {
    display: table-footer-group;
}

/* Fancy checkbox */
.hideCheckbox,
.hideRadiobutton {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"] + label span::before {
    content: "\f096";
    font-family: FontAwesome;
    font-size: 18px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span::before {
    content: "\f046";
}

input[type="checkbox"]:disabled +  label span::before {
    color: grey;
    cursor: not-allowed;
}

.auth_access_ajax {
    vertical-align: middle;
}

.auth_access_fieldset {
    position: relative;
    display: inline-block;
}

ol.progtrckr {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 2em;
}
ol.progtrckr li {
    display: table-cell;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-running {
    color: black;
    border-bottom: 4px solid orange;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: #FEFEFE;
    font-size: 1.5em;
    bottom: -1.6em;
}
ol.progtrckr li.progtrckr-running:before {
    content: "\231B";
    color: black;
    background-color: orange;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}


ol.progtrckr li.progtrckr-running.error::before {
    background-color: red;
    content: "x";
}

ol.progtrckr li.progtrckr-running.error {
    border-color: red;
}

.category-header {
    cursor: pointer;
}

.category-header.pass {
    color: green;
}

.category-header.fail {
    color: red;
}

.diff_link {
    cursor: pointer;
}

/* Diff generation */
table.diff {
    font-weight: 100;
    line-height: 1;
}

table.diff td {
    padding: 0.1rem;
}

table.diff td.diff_header {
    padding-left: 0.5rem;
}

.diff_chg {
    background-color: orange;
}

.diff_add {
    background-color: green;
}

.diff_sub {
    background-color: red;
}