{% if issues == 'ERROR' %}
    <p>Error Fetching Data from Github. Try Again Later.</p>
{% elif issues|length > 0 %} 
    <div id="no-more-tables">
        <table class="col-md-12 sortable table-bordered table-striped table-condensed cf">
            <thead class="cf">
                <tr>
                    <th class="numeric">Issue</th>
                    <th class="numeric">Created By</th>
                    <th class="numeric">Created At</th>
                    <th class="numeric">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                    <tr>
                       <td data-title="Issue"><a href="{{ issue.issue_id | issue_link }}">{{ issue.title }} #{{ issue.issue_id }}</a></td>
                       <td data-title="Created By"><a href="https://www.github.com/{{ issue.user }}"> {{ issue.user }}</a></td>
                       <td data-title="Created At" class="created-date">{{ issue.created_at|date('%Y-%m-%d %H:%M:%S (UTC)') }}</td>
                       <td data-title="Status">{{ issue.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>There are no issues available right now! Please check again later.</p>
{% endif %}
