{% extends "base.html" %}

{% block title %}Sample information {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="row">
        <div class="row">
            <div class="column medium-9">
                <h1>Sample information</h1>
                <h2>Basic details</h2>
                <blockquote class="small">
                    <p>
                        SHA256-hash: {{ sample.sha }}<br/>
                        Extension: {{ sample.extension }}<br/>
                        {% if user.is_admin or user.id == sample.upload.user.id %}
                            Original name: {{ sample.original_name }}<br />
                        {% endif %}
                        {% if user.is_admin %}
                            Submitted by: <a href="{{ url_for('auth.user', uid=sample.upload.user.id) }}">{{ sample.upload.user.name }}</a><br/>
                        {% endif %}
                        Submitted for CCExtractor version {{ sample.upload.version.version }} (released {{ sample.upload.version.released }})<br />
                        Platform: {{ sample.upload.platform }}<br />
                        Parameters: {{ sample.upload.parameters }}<br />
                        Notes: {{ sample.upload.notes }}<br />
                    </p>
                </blockquote>
                {% if additional_files|length > 0 %}
                    <h2>Additional files</h2>
                    <table class="tight striped sortable">
                        <thead>
                            <tr>
                                <th>File</th>
                                {% if user.is_admin or user.id == sample.upload.user.id %}
                                    <th>Original name</th>
                                {% endif %}
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in additional_files %}
                                <tr>
                                    <td>{{ file.short_name }}</td>
                                    {% if user.is_admin or user.id == sample.upload.user.id %}
                                        <td>{{ file.original_name }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ url_for(".download_sample_additional", id=sample.id, additional=file.id) }}" title="Download additional file"><i class="fa fa-download"></i></a>
                                        {% if loggedInUser.is_admin %}
                                            &nbsp;<a href="{{ url_for(".delete_sample_additional", id=sample.id, additional=file.id) }}" title="Delete additional file"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <h2>Test status</h2>
                <!--
                <p>Repository: </p>
                <p>Last release: </p> -->
                <p><a href="{{ url_for("test.sample", sample_id=sample.id) }}">View all available tests for this sample</a></p>
                <h2>Media info</h2>
                <p class="small">Full media info can be downloaded using the link at the right -->.</p>
                <blockquote class="small">
                    {% if media and media|length > 0 %}
                        {{ macros.render_media_info(media) }}
                    {% else %}
                        <p>No media info available</p>
                    {% endif %}
                </blockquote>
                <p class="small">Do you want to see more information displayed by default or did I forget something? Please make a request on GitHub!</p>
            </div>
            <div class="column medium-3">
            <h5>Actions</h5>
            <ul class="no-bullet">
                <li><i class="fa fa-li fa-download"></i> <a href="{{ url_for(".download_sample", sample_id=sample.id) }}">Download sample</a></li>
                <li><i class="fa fa-li fa-file-code-o"></i> <a href="{{ url_for(".download_sample_media_info", sample_id=sample.id) }}">Download media info xml</a></li>
                {% if user.is_admin %}
                    <li><i class="fa fa-li fa-edit"></i> <a href="{{ url_for(".edit_sample", sample_id=sample.id) }}">Edit sample</a></li>
                    <li><i class="fa fa-li fa-remove"></i> <a href="{{ url_for(".delete_sample", sample_id=sample.id) }}">Delete sample</a></li>
                {% endif %}
            </ul>
        </div>
        </div>
    </div>
{% endblock %}