{% extends "base.html" %}

{% block title %}Manage Blocked Users {{ super() }}{% endblock %}

{% block body %}
    {{ super() }}
    <br>
    <div class="grid-x">
        <h1>Manage Blocked Users</h1>
        <p>Below you can find an overview of all blocked users on the platform and add or remove them.</p>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="grid-x">
                <div class="callout alert">
                    <ul class="flashes">
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="grid-x">
        <table class="stack hover sortable" id="userTable">
            <thead>
                <tr>
                    <th>GitHub User ID</th>
                    <th>Username</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for u in blocked_users %}
                <tr>
                    <td>{{ u.user_id }}</td>
                    <td>{{ usernames[u.user_id] }}</td>
                    <td>{{ u.comment }}</td>
                    <td><a href="{{ url_for('.blocked_users_remove', blocked_user_id=u.user_id) }}" title="Remove"><i class="fa fa-remove"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="grid-x">
        <h1>Add Users</h1>
    </div>
    <form method="post" name="addUserForm" id="addUserForm" action="{{ url_for('.blocked_users') }}">
        {{ addUserForm.csrf_token }}
        {% if addUserForm.errors %}
            <div class="grid-x">
                <div class="callout alert">
                    {% for field, error in addUserForm.errors.items() %}
                        {% for e in error %}
                            {{ e }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="grid-x">
            <div class="medium-6 columns">
                {{ macros.render_field(addUserForm.user_id) }}
            </div>
            <div class="medium-6 columns">
                {{ macros.render_field(addUserForm.comment) }}
            </div>
            <div class="medium-12 columns">
                {{ macros.render_field(addUserForm.add) }}
            </div>
        </div>
    </form>
{% endblock %}
