{% extends "base.html" %}

{% block title %}Delete queued file {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="row">
        <div class="row">
            <div class="column medium-12">
                <h1>Delete queued file</h1>
                <p>Are you sure you want to delete the queued file with id {{ queued_sample.id }} (filename: {{ queued_sample.original_name ~ queued_sample.extension }})?</p>
                <p><strong>This will delete the files, as well as all tests that were created for this sample!</strong></p>
                <form method="post" name="deleteForm" id="deleteForm" action="{{ url_for('.delete_id', upload_id=queued_sample.id) }}">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="medium-6 columns">
                            {{ macros.render_field(form.submit) }}
                        </div>
                        <div class="medium-6 columns">
                            <input type="button" class="button" onclick="history.back();" value="Cancel" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}