{% if tests|length > 0 %}
    <table class="tight striped">
        <thead>
        <tr>
            <th>Repository</th>
            <th>Details</th>
            <th>Platform</th>
            <th title="Indicates if an error occurred during any preparational step (merging, compiling).">Run errors</th>
            <th title="Did the test suite finish or error out?">Completed</th>
        </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.fork.github_name }}</td>
                <td>{{ test.test_type.description }} <a href="{{ test.github_link }}" target="_blank">{{ (test.commit if test.test_type == TestType.commit else test.pr_nr) }}</a></td>
                <td>{{ test.platform.description }}</td>
                <td>{{ "Unknown" if not test.finished else ("Yes" if test.failed else "No") }}</td>
                <td><a href="{{ url_for('.by_id', test_id=test.id) }}">{{ "Yes" if test.finished else "No" }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no tests available right now! Please check again later.</p>
{% endif %}
