{% extends "base.html" %}

{% block title %}Maintenance Mode {{ super() }}{% endblock %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block body %}
	{{ super() }}


	<h1>Maintenance Mode</h1>
		{% for mode in modes %}
			<h3> {{ mode.platform }} </h3>

			<div class="switch">
				{% if mode.mode == 'False' %}
					<input id="{{mode.platform}}" value="{{mode.platform}}" class="toggle toggle-round" type="checkbox">
				{% else %}
					<input id="{{mode.platform}}" class="toggle toggle-round" type="checkbox" checked="checked">
				{% endif %}
				<label for="{{mode.platform}}"></label>
			</div>
		{% endfor %}
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		$('input:checkbox').change(
			function(){
				var platform = $(this).attr('id');
				var status = 'False';
				if ($(this).is(':checked')) {
					status = 'True';
				}
				var url = "{{ url_for('ci.toggle_maintenance', platform='_0_', status='_1_') }}";
				url = url.replace('_0_', platform).replace('_1_', status);
				$.ajax({
					type: "GET",
					url: url,
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
						alert(data.message);
					},
					failure: function (errMsg) {
						console.log("Error Fetching");
					}
				});
			});

	</script>
{% endblock %}
