{% extends "base.html" %}

{% block title %}Deactivate user account {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="row">
        <div class="callout warning">
            <h5>Account deactivation for {{ view_user.name }}</h5>
            <p>This action cannot be undone. Your details will be anonymized, and you will not longer be able to log in. Are you sure you want to do this?</p>
        </div>
    </div>
    {% if form.errors %}
        <div class="row">
            <div class="medium-12 columns">
                {% for field, error in form.errors.items() %}
                    {% for e in error %}
                        {{ e }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="medium-12 columns">
            <form method="post" action="{{ url_for(".deactivate", uid=view_user.id) }}">
                {{ form.csrf_token }}
                <p>
                    <input type="button" class="button primary" value="{{ "No, I want to keep my account" if view_user.id == user.id else "Cancel deactivation" }}" onclick="history.back();" />
                    <input type="submit" class="button secondary" value="{{ "Yes, I'm sure I want to deactivate my account" if view_user.id == user.id else "Deactivate user account" }}" />
                </p>
            </form>
        </div>
    </div>
{% endblock %}