{% extends "base.html" %}

{% block title %}Please log in first {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h5>Login required</h5>
            <p>To get access to all the functionality of this application, you need to login below.</p>
        </div>
    </div>
    <form method="post" name="loginForm" id="loginForm" action="{{ url_for('.login', next=next) }}">
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="grid-x">
                    <div class="callout alert">
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% if form.errors %}
            <div class="grid-x">
                <div class="callout alert">
                    {% for field, error in form.errors.items() %}
                        {% for e in error %}
                            {{ e }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="grid-x">
            <div class="medium-12 columns">
                {{ macros.render_field(form.email) }}
             </div>
            <div class="medium-12 columns">
                {{ macros.render_field(form.password) }}
            </div>
            <div class="medium-12 columns">
                {{ macros.render_field(form.submit) }}
            </div>
            <div class="medium-12 columns">
                <p>Forgot your password? <a href="{{ url_for('.reset')}}">Reset your password</a>.</p>
                <p>No account? <a href="{{ url_for('.signup') }}">Sign up here</a>.</p>
            </div>
        </div>
    </form>
{% endblock %}
