{% extends "base.html" %}

{% block title %}Manage my account {{ super() }}{% endblock %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="row">
        <h1>Manage my account</h1>
        <p>On this page you can change your password and email address.</p>
        <form method="post" name="userForm" id="userForm">
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="callout alert">
                            <ul class="flashes">
                                {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% if form.errors %}
                <div class="row">
                    <div class="callout alert">
                        {% for field, error in form.errors.items() %}
                            {% for e in error %}
                                {{ e }}<br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="medium-12 columns">
                    <h5>Github Linked</h5>
                </div>
                <div class="medium-6 columns">
                {% if url%}
                        No &nbsp
                        <a href="{{url}}" class="button" ><i class="fa fa-github-square"></i> Link Github</a>
                {% else %}
                        Yes
                {% endif %}
                </div>

                <div class="medium-12 columns">
                    <h5>Current password</h5>
                </div>
                <div class="medium-6 columns">
                    {{ macros.render_field(form.current_password) }}
                </div>
                <div class="medium-12 columns">
                    <h5>New password</h5>
                </div>
                <div class="medium-6 columns">
                    {{ macros.render_field(form.new_password, helpText='Your password must have at least 10 characters.') }}
                </div>
                <div class="medium-6 columns">
                    {{ macros.render_field(form.new_password_repeat) }}
                </div>
                <div class="medium-12 columns">
                    <h5>Name</h5>
                </div>
                <div class="medium-6 columns">
                    {{ macros.render_field(form.name) }}
                </div>
                <div class="medium-12 columns">
                    <h5>Email address</h5>
                </div>
                <div class="medium-6 columns">
                    {{ macros.render_field(form.email) }}
                </div>
                <div class="medium-12 columns">
                    {{ macros.render_field(form.submit) }}
                </div>
                <div class="medium-12 columns">
                    <p>If you want to deactivate your account, you can go to this page: <a href="{{ url_for('.deactivate', uid=user.id) }}">deactivate account</a>.</p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}