{% extends "base.html" %}

{% block title %}Manage my account {{ super() }}{% endblock %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="columns">
            <h1>Manage my account</h1>
            <p>On this page you can change your password and email address.</p>
        </div>
        <form method="post" name="userForm" id="userForm">
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="grid-x">
                        <div class="callout alert">
                            <ul class="flashes">
                                {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% if form.errors %}
                <div class="grid-x">
                    <div class="callout alert">
                        {% for field, error in form.errors.items() %}
                            {% for e in error %}
                                {{ e }}<br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="grid-x">
                <div class="medium-12 columns">
                    <b> Github Linked: </b>
                    {% if url%}
                            No &nbsp;
                            <a href="{{url}}" class="button" ><i class="fa fa-github-square"></i> Link Github</a>
                    {% else %}
                            Yes
                    {% endif %}
                </div>
                <div class="medium-12 columns">
                    <b>Role: </b> {{ user.role.value }}
                </div>
                <div class="medium-12 columns">
                <div class="medium-5">
                    {{ macros.render_field(form.current_password) }}
                </div>
                </div>
                <div class="medium-12 columns">
                <div class="medium-5" style="float: left; width: inherit; margin-right: 20px">
                    {{ macros.render_field(form.new_password, helpText='Your password must have at least 10 characters.') }}
                </div>
                <div class="medium-5" style="float: inherit; width: inherit;">
                    {{ macros.render_field(form.new_password_repeat) }}
                </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.name) }}
                </div>
                </div>
                <div class="medium-12 columns">
                    <div class="medium-5">
                        {{ macros.render_field(form.email) }}
                </div>
                </div>
                <div class="medium-12 columns">
                    {{ macros.render_field(form.submit) }}
                </div>
               <div class="medium-12 columns">
                    <p>If you want to deactivate your account, you can go to this page: <a href="{{ url_for('.deactivate', uid=user.id) }}">deactivate account</a>.</p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}