{% extends "base.html" %}

{% block title %}Change user role {{ super() }}{% endblock %}
{% block body %}
    {{ super() }}
    <br />
    <div class="grid-x">
        <div class="callout warning">
            <h5>Change user role for {{ view_user.name }}</h5>
            <p>Select a new role for this user:</p>
        </div>
    </div>
    {% if form.errors %}
        <div class="grid-x">
            <div class="medium-12 columns">
                {% for field, error in form.errors.items() %}
                    {% for e in error %}
                        {{ e }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="grid-x">
        <div class="medium-12 columns">
            <form method="post" action="{{ url_for(".role", uid=view_user.id) }}">
                {{ form.csrf_token }}
                <p>{{ macros.render_field(form.role) }}</p>
                <p>
                    <input type="button" class="button primary" value="Cancel role change" onclick="history.back();" />
                    <input type="submit" class="button secondary" value="Change user role" />
                </p>
            </form>
        </div>
    </div>
{% endblock %}