name: Run tests and code checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  TESTING: true

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libvirt-dev
        python -m pip install --upgrade pip
        if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Apply dodgy
      run: |
        dodgy
    - name: Apply isort
      run: |
        isort . --check-only
    - name: Apply pydocstyle
      run: |
        pydocstyle --config=./.pydocstylerc
    - name: Apply mypy
      run: |
        mypy --install-types --non-interactive .
    - name: Apply pycodestyle
      run: |
        pycodestyle ./ --config=./.pycodestylerc
    - name: Test with nose
      run: |
        nose2
    - name: Upload to codecov
      uses: codecov/codecov-action@v3
      with:
        flags: unittests
        name: sample-platform
        fail_ci_if_error: true
        files: ./coverage.xml
